http:
  port: 9091
  maxconnections: 5
  httptimeout: 60
db:
  dbpath: /tmp/faissdb2
  faiss:
    dimension: 2
    description: IVF2,PQ2
    metric: InnerProduct
    syncinterval: 60000
  datadb:
    capacity: 1073741824
  iddb:
    capacity: 1073741824
  logdb:
    capacity: 1073741824
oplog:
  term: 10
replica:
  listen: ":50022"
  master: "localhost:50021"
